table.a {
  border-style: double;
  border-color: #023c78;
  width: 600px;
  font-family:"arial";
  background-color: #023c78;
  color: white;
  text-align: center; 
  vertical-align: middle;
}
table.a {
  border-style: double;
  border-color: white;
  width: 600px;
  font-family:"arial";
  font-size:14px;
  background-color: #023c78;
  color: white;
  text-align: center; 
  vertical-align: middle;
}
td.scoreGross
	{
	font-size:35px;
        font-family:"arial";
        font-weight: bold;
	color:#023c78;
	background-color:white;
        text-align: center; 
        vertical-align: middle;
        padding-right: 7px
	padding-left: 7px
	}
td.scoreEntry
	{
	font-size:25px;
        font-family:"arial";
	color:#023c78;
	background-color:white;
        text-align: center; 
        vertical-align: middle;
	}
td.shiftRight
	{
  text-align: right; 
	}
td.spacingOutin
	{
  text-align: top; 
  border-color: white;
  border-bottom: 10px;
  padding-bottom: 25px
	}
td.blankLast
	{
  color: #023c78;
	}
td.matchesDivider
	{
        padding-bottom: 25px
}
